certifi==2023.5.7
charset-normalizer==3.1.0
coverage==7.2.5
gevent==22.10.2
greenlet==2.0.2
idna==3.4
kong-pdk==0.33
msgpack==1.0.5
PyYAML==6.0
requests==2.30.0
responses==0.23.1
six==1.16.0
types-PyYAML==6.0.12.9
urllib3==2.0.2
zope.event==4.6
zope.interface==6.0
